body {
    font-family: sans-serif;
    background-color: lightblue;
}

#wrapper {
    width: 256px;
    height: 256px;
    background: url("/assets/bicycle_2.webp") no-repeat;
    background-size: contain;
    border: 2px solid black;
}